<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    
      <div class="item slides active">
        <div class="slide-1">
            <div class="overlay"></div>
        </div>
        <div class="hero">
          <hgroup>
              <h1><%= @first_cluster.name %></h1>        
              <h3><%= @first_cluster.desciption %></h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button"><%= link_to "Join the cluster", cluster_path(@first_cluster) %></button>
        </div>
      </div>
    


    <div class="item slides">
      <div class="slide-2">
          <div class="overlay"></div>
      </div>
      <div class="hero">        
        <hgroup>
              <h1><%= @second_cluster.name %></h1>        
              <h3><%= @second_cluster.desciption %></h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button"><%= link_to "Join the cluster", cluster_path(@second_cluster) %></button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3">
          <div class="overlay"></div>
      </div>
      <div class="hero">        
        <hgroup>
              <h1><%= @third_cluster.name %></h1>        
              <h3><%= @third_cluster.desciption %></h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button"><%= link_to "Join the cluster", cluster_path(@third_cluster) %></button>
      </div>
    </div>
  </div> 
</div>

<!--<header class="intro-header" style="background-image: url(/assets/startup.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clusters</h1>
                    <hr class="small">
                    <span class="subheading">Where talents make it happen</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

<h1>Listing Clusters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desciption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clusters.each do |cluster| %>
      <tr>
        <td><%= cluster.name %></td>
        <td><%= cluster.desciption %></td>
        <td><%= link_to 'Show', cluster %></td>
        <td><%= link_to 'Edit', edit_cluster_path(cluster) %></td>
        <td><%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cluster', new_cluster_path %>

</div>
</div>
-->