<header class="intro-header" style="background-image: url(/assets/afropean.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Afropean</h1>
                    <hr class="small">
                    <span class="subheading">Project<!--Empowerment through diversity and inclusion--></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="page-header">
				Join our next events
				
			</h3>
			<% @events.each do |event| %>

    <div class="post-preview">
                <%= link_to event do %>
                    <h4 class="post-title">
                        <%= event.title %>
                         <br><small><%= event.subtitle %></small>
                    </h4>
                    <h5 class="post-subtitle">
                        <%= event.description %>
                    </h5>
                <% end %>
                <p class="post-meta text-right">
                  <small>
                    <span class="label label-info"><i class="fa fa-calendar"></i> <%= event.start.strftime("%a %d %b") %></span>
                    <span class="label label-info"><i class="fa fa-clock-o"></i> <%= event.start.strftime("%H") %>-<%= event.end.strftime("%H") %></span>
                    <span class="label label-info"><i class="fa fa-map-marker"></i> <%= event.place %></span>
                    
                    
                  </small>
                </p>
            </div>
            <hr>

     
    <% end %>
			<small><%= link_to "See all our future events", events_path, class: "pull-right btn btn-default" %></small>
		</div>


		<div class="col-md-4">
			<h3 class="page-header">
				News
				
			</h3>
			<% @articles.each do |article| %>
			 <div class="post-preview">
                <%= link_to article do %>
                    <h5 class="post-title">
                         <small><%= article.title %></small>
                    </h5>
                    <h5 class="post-subtitle">
                        <%= article.subtitle %>
                    </h5>
                <% end %>
            </div>
            <% end %>
			<small><%= link_to "See all our articles", articles_path, class: "pull-right btn btn-default" %></small>
		</div>
	</div>
</div>