<header class="intro-header" style="background-image: url(/assets/afropean.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%= @event.title %></h1>
                    <hr class="small">
                    <span class="subheading">
                      <%= @event.subtitle %>
                      
                      <h3 class="text-center">
<span class="label label-info"><i class="fa fa-calendar"></i> <%= @event.start.strftime("%a %d %b") %></span>
<span class="label label-info"><i class="fa fa-clock-o"></i> <%= @event.start.strftime("%H") %>-<%= @event.end.strftime("%H") %></span>
<span class="label label-info"><i class="fa fa-map-marker"></i> <%= @event.place %></span>
</h3>


                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

 <article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <%= @event.description %>
</div>
</div>
</div>
</article>

