<%# add navigation links to this file %>
<li>
    <%= link_to 'Home', root_path %>
</li>
<li>
    <%= link_to 'Clusters', clusters_path %>
</li>
<li>
    <%= link_to 'Events', events_path %>
</li>
<li>
    <%= link_to 'News', articles_path %>
</li>
<li>
    <%= link_to 'About', about_path %>
</li>

<!--<li>
    <%= link_to 'Sample Post', page_path('post') %>
</li> -->
<li>
    <%= link_to 'Contact', contact_path %>
</li>
